WFC_DAC/WindowsFormsAppWCF/Connected Services/ServicePachacamac/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59558/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClasesBases" />
  <xs:element name="getCategorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClasesBases" minOccurs="0" name="getCategoriasResult" nillable="true" type="q1:ArrayOfclsCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCategorias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClasesBases" minOccurs="0" name="xCategoria" nillable="true" type="q2:clsCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCategoriasResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCategorias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClasesBases" minOccurs="0" name="xCategoria" nillable="true" type="q3:clsCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCategoriasResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCategorias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCategoriasResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>