WFC_DAC/WindowsFormsAppWCF/Connected Services/ServicePachacamac/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClasesBases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClasesBases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfclsCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsCategoria" nillable="true" type="tns:clsCategoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsCategoria" nillable="true" type="tns:ArrayOfclsCategoria" />
  <xs:complexType name="clsCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArchivoImagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsCategoria" nillable="true" type="tns:clsCategoria" />
</xs:schema>